<div class="text-field pb-4">
  <%= form.label :email %>
  <%= form.email_field :email, class: "dark:bg-blue-950" %>
</div>

<div class="password-field pb-6">
  <%= form.label :password %>
  <%= form.password_field :password, class: "dark:bg-blue-950" %>
</div>
